{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Page Title -->
<section id="page-title">
    <div class="title">
        <h1 class="reset-margin">Posts Listing</h1>
    </div>
    <img src="{% static 'assets/img/title-background.jpg' %}" class="parallax-bg" alt="">
</section>
<!-- end Page Title -->

<!-- Breadcrumb -->
<section id="breadcrumb">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">Blog</a></li>
            <li class="active">Blog Listing</li>
        </ol>
    </div>
</section>
<!-- end Breadcrumb -->

<!-- Blog -->
<section id="from-the-blog" class="block">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-content">
                    <div class="row">
                        <div class="blog-posts">
                            {% for post in posts %}
                            <div class="col-md-6">


                               
                                <div class="blog-post" data-scroll-reveal="enter right and move 50px">
                                    <div class="date-circle">
                                    
                                            
                                       
                                        
                                        <img src="{{post.image.url}}" alt="" style="margin: 50px; max-height: fit-content;">
                                    </div>
                                    <div class="blog-post-content">
                                        <a href="{% url 'blog:index' pid=post.id %}"><h4>{{post.title}}</h4></a>
                                        <div class="author">By:  {{post.author.get_full_name}}</div>
                                        
                                        <p>{{post.content|truncatechars:100}}
                                        </p>
                                        <div class="date" style="color: brown; margin-top: 10px; margin-bottom: 0px;">published : {{post.published_date|date:"d M Y"}}</div>
                                        <p class="divider background-color-secondary"><a href="#"></a>{{post.counted_view}} Views<span> in Total</span></p>
                                        <div class="read-more">
                                            <a href="{% url 'blog:single' %}">Read More</a>
                                        </div>
                                    </div><!-- /.blog-post-content -->
                                </div><!-- /.blog-post -->
                            
                                
                            </div><!-- /.blog-posts -->
                            {% endfor %}
                        </div><!-- /.row -->
                  
                           
                        
                    </div><!-- /.row -->
                </div><!-- /.blog-posts -->   
                           
            </div><!-- /.row -->
        </div>
        <div class="center">
            <ul class="pagination">
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
            </ul>

        </div>
    </div><!-- /.container -->
</section>
<!-- end Blog -->

{% endblock %}